<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    </head>
    <body>
    <div class="pure-menu pure-menu-horizontal">
        <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
        <a th:href="@{/}" class="pure-menu-heading pure-menu-link">Home</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a th:href="@{/userInfo}" class="pure-menu-link">User</a></li>
            <li class="pure-menu-item"><a th:href="@{/admin}" class="pure-menu-link">Admin</a></li>
        </ul>
    </div>
        <h1>Login</h1>
        <div th:if="${#request.getParameter('error') == 'true'}"
             style="color:red;margin:10px 0px;">
            Login Failed!!!<br/>
            Reason :
            <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                  th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                        Static summary
                 </span>
        </div>

        <form class="pure-form pure-form-aligned" name='f' th:action="@{/j_spring_security_check}" method='POST'>
            <fieldset>
                <div class="pure-control-group">
                    <label for="name">Username</label>
                    <input id="name" type="text" placeholder="Username" name="username">
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>

                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" placeholder="Password" name="password">
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </body>
</html>